@model AdviceByQuery
@{
    ViewData["Title"] = "Search Advice";
}

<partial name="_Menu" />

<p class="mt-5 text-xl-center fs-5 fw-bold">Has a total of @Model.TotalResults results for the search: @Model.Query</p>


<div class=" mt-5 border border-dark rounded" style="max-width:750px;min-height:200px;margin:0 auto">
    <ul>

        @foreach (var item in Model.Slips)
        {
            <li class="mt-5"><span>@item.Advice</span></li>
        }

    </ul>
</div>