

<div class="text-xl-center">

    <h1>Receive your Advice now!</h1>

    <div class="mt-5 ">

        <a class="btn btn-success" style="min-width:240px;" asp-controller="Advice" asp-action="GenerateAdvice">Click here for a random advice</a>

    </div>

    <form asp-controller="Advice" asp-action="SearchAdvice" method="get">
        <label for="form1" class="mt-2"> Write a word for search </label>
        <br />
        <input type="search" id="form1" name="query" class="mt-2" />
        <br />
        <input type="submit" class="btn btn-primary mt-2" style="min-width:240px;" value="Click here for search a advice" />

    </form>

</div>